<% if flash[:notice] %>
  <div class-"notice"><%= flash[:notice] %></div>
<% end %>

<h2><%= "This is your profile page on the mySecond app #{current_user.name}!" %></h2>
<p> Name:  <%= current_user.name %></p> 
<p> Email: <%= current_user.email %> </p>

<%= link_to 'Update profile', edit_user_url %> | <%= link_to 'myList', items_url %>

